name: Deploy

on:
  push:
    tags:
      - "[0-9]+"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      
      - name: Build configuration asset
        run: make zip
      
      - name: Deploy configuration asset to SolrCloud
        env:
          SOLR_USER: ${{ secrets.SOLR_USER }}
          SOLR_PASSWORD: ${{ secrets.SOLR_PASSWORD }}
          GITHUB_TAG: ${{ github.ref_name }}
        run: make deploy
